# Ignore PHP config files with secrets
db.php
config.php
.env

# Ignore OS files
.DS_Store

# Ignore logs
*.log

# Ignore credentials if any
*.key
*.pem
*.crt

# Ignore backups or temp files
*.bak
*.swp

# Ignore build folder
simulate/bin/
simulate/CMakeFiles
simulate/CMakeCache.txt
simulate/cmake_install.cmake
simulate/Makefile

common/polygon_api.php
